<div ng-include="'tpl/include/header.html'"></div>
    <div class="container my_top"  style="margin-top:60px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                个人订单
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a class="list-group-item clearfix" ng-repeat="(key,value) in o_dish" href="#fw_detail/{{value.case_id}}">
                        <span>{{key+1}}</span>
                        <img ng-src="img/{{value.aphoto}}" alt=""/>
                        <h5>{{value.caption}}</h5>
                        <p class="pull-right"> {{value.o_dateline}}</p>
                    </a>
                </div>
                <div class="row" style="margin-top:-10px;margin-bottom: 10px;">
                    <div class="col-xs-6 col-xs-offset-3">
                        <ul class="pull-right list-unstyled">
                            <li ng-show="nav_hy==0">
                                <a onclick="return false;" ng-click="nav_dl()" class="btn btn-primary" data-toggle="modal" href="#myModal1">请先先登录</a>
                            </li>
                            <li ng-show="nav_hy==1">
                                <a href="" ng-click="loadMore()" class="btn btn-success" onclick="return false;">加载更多数据</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div ng-include="'tpl/include/footer.html'"></div>